<%- include("partials/header"); -%>

  <h1> Leaderborad 🎉</h1>


  <form action="/" method="post">
    <div class="form-group">
      <label for="">First Place</label>
      <input type="" class="form-control" name="first" aria-describedby="" placeholder="Enter first place name">
    </div>

    <div class="form-group">
        <label for="">Second Place</label>
        <input type="" class="form-control" name="second" aria-describedby="" placeholder="Enter second place name">
      </div>

    <div class="form-group">
        <label for="">Third Place</label>
        <input type="" class="form-control" name="third" aria-describedby="" placeholder="Enter third place name">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
        Reset
    </button>
  </form>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Remove scores?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="/reset" method="post">
                <button type="submit" class="btn btn-primary">Remove</button>
            </form>
        </div>
      </div>
    </div>
  </div>

  <h1>Standings 🥇</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">Name</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
        <% for(var i = 0 ; i < board.length ; i++){ %>
            <tr <%if(i==0){%>class="bg-success" <% }%>
                <%if(i==1){%>class="bg-warning" <% }%>
                <%if(i==2){%>class="bg-danger" <% }%>
                >
                <th scope="row"><%=i+1%></th>
                <td><%= board[i][0]%></td>
                <td><%= board[i][1]%></td>
            </tr>
        <% } %>
    </tbody>
  </table>


  
<%- include("partials/footer"); -%>